html {
    font-size: 62.5%;
}

body {
    font-family: "Source Sans Pro", Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: -.4px;
}

a {
    color: #c71f01;
}

.button-success {
    background: #c71f01;
}

#banner {
    background-position: center;
    overflow-x: hidden;
}

#banner .call-to-action {
    position: relative;
    padding-left: 30px;
    background-color: rgba(0,0,0,.7);
}

#banner .call-to-action::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -500px;
    width: 500px;
    background-color: rgba(0,0,0,.7);
}

#banner .call-to-action h2 {
    display: block;
}

#banner .call-to-action a {
    margin-bottom: 27px;
    padding: 16px 30px;
    font-size: 16px;
}

.site-header {
    position: relative;
    z-index: 10;
    padding-top: 0;
    box-shadow: 0 3px 10px #333;
}

.site-header > .container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.navigation > li > a {
    padding-left: 0;
    padding-right: 0;
}

.navigation > li > a:hover,
.navigation li.current > a {
    color: #c71f01;
}

.navigation li.current > a {
    border-color: #c71f01;
    border-width: 3px;
}

.logo a {
    width: auto;
    padding-left: 5.6rem;
    text-decoration: none;
    text-indent: 0;
    color: black;
    background-size: auto 100%;


    font-family: "Oswald", Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 900;
    font-size: 1.25rem;
    line-height: 3rem;
    text-transform: uppercase;
}

#banner .call-to-action {
    max-width: 50rem;
}

#banner .pure-u-1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    height: 100%;
}

.header__contact {
    padding: .4rem 0;
    background-color: #c71f01;
}

/* Services */
.pure-u-1 .service {
    margin: 0 20px;
}

.pure-u-1 .service p {
    font-size: 14px;
}

/* Featured Projects */
.featured-work {
    margin-bottom: -60px;
    padding: 3rem 0;
    background: #f4f4f4;
}

.featured-work h2 {
    text-align: center;
}

.featured-work img {
    width: 100%;
}

.grid-layout .card {
    border-radius: 0;
}

.grid-layout .card .card-header {
    display: flex;
    max-height: 180px;
}

.grid-layout .card .card-header img {
    object-fit: cover;
}

.grid-layout .card .card-body h3 {
    font-size: 1.8rem;
}

.grid-layout .card .card-body h3 a {
    color: #c71f01;
}

.grid-layout .card .card-body p {
    line-height: 2.2rem;
}

/* Contact Form */
.contact-form label {
    display: flex;
    align-items: center;
}

.contact-form label span {
    width: 150px;
}

.contact-form label input[type=text],
.contact-form label input[type=email],
.contact-form label input[type=tel],
.contact-form label textarea {
    box-sizing: border-box;
    width: 400px;
    padding: 7px 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.contact-form button {
    margin-left: 150px;
}

@media (max-width: 768px) {

    .container {
        margin: 0 1rem;
    }

    .header__contact {
        padding: .2rem 0;
    }

    .site-header > .container {
        flex-direction: column;
        align-items: center;
    }

    .main-nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .logo {
        justify-content: center;
        align-items: center;
    }

    .logo a {
        padding-left: 3rem;
        font-size: 14px;
        background-position: center left;
        background-size: 13%;
    }

    #banner {
        height: 260px;
    }

    #banner .call-to-action h1 {
        font-size: 20px;
    }

    #banner .call-to-action h2 {
        font-size: 15px;
    }

    #banner .call-to-action a {
        padding: 8px 20px;
    }

    .plain-header {
        padding: 20px;
    }

    .plain-header h2 {
        font-size: 20px;
    }

    .grid-layout .card {
        margin: 0 0 2em;
    }

    .breadcrumbs {
        margin-bottom: 20px;
    }

    .content {
        font-size: 16px;
        line-height: 1.5;
    }
}

@media (max-width: 450px) {

    .main-nav li {
        margin-left: 16px;
        font-size: 14px;
    }
}
